body {
  background-color: #f5f0e1;
}

.banner {
  background-color: #1e3d59;
  padding: 30px;
  color: black;
  text-align: center;
  border-radius: 10px; /*arrondi les anghles*/
  font-family: Impact, fantasy;
}

.logo {
  font-weight: bold; /* gras*/
  font-size: 90px;
  color: #ffc13b;
}

.button-container {
  margin-top: 20px; /* Espace entre le logo et les bouttons */
  justify-content: space-between; /* Espace égal entre chaque boutons */
}

.button {
  background-color: #f5f0e1;
  border: none;
  color: black;
  font-size: 16px;
  padding: 10px 20px; /* grandit la taille du boutton pour pas qu'il soit collé au texte  */
  cursor: pointer; /* pour que quand on passe sur les bouttons ça mette la petite main*/
  border-radius: 8px; /* Pour arrondir les angles */
  width: 420px; /* Largeur des bouttons */
  margin-right: 15px; /* Espace entre chaque bouttons */
}

/* C'est pour faire un effet quand on passe le curseur sur le boutton */
.button:hover {
  background-color: #e0dbcd;
}

img {
  width: 120px; /* Largeur du logo */
  height: 120px; /* Hauteur du logo */
  position: absolute; /* Position absolue par rapport au conteneur parent */
  top: 30px; /* Distance avec le haut de la abnnière */
  left: 50px; /* Distance avec la gauche */
}

.message_bienvenue {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  display: block; /* obligé pour centrer le texte sinon ça marche pas ça fait un bloc qui prend toute la largeur de la page*/
  margin-top: 20px; /* Marge supérieure */
  font-family: Arial;
}

.assistant-investissement {
  background-color: white;
  border: 2px solid #1e3d59;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.assistant-investissement h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: Arial;
}

.risques {
  margin-bottom: 15px;
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: Arial;
}

input[type="text"],

/* reglages budget*/

input[type="range"] {
  width: 15%; /* taille du rectangle budget par rapport au rectangle assistant invest.*/
  padding: 20px; /* largeur rectangle budget */
  border: 1px solid #1e3d59;
  border-radius: 5px;
}

input[type="range"] {
  width: 1350px; /* longeur du curseur */
}

.valider {
  text-align: center;
}

.valider-button {
  background-color: #1e3d59;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer; /* met la petite main quand on passe sur le boutton avec la souris*/
  margin-top: 5px;
}

.valider-button:hover {
  background-color: #2c5a7e; /*permet de légèrement changer la couleur du bouton quand on passe dessus avec la souris*/
}

.age-title {
  font-family: Impact, fantasy;
}
