{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page d'accueil</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <div class="banner">
      <img
        src="{% static 'images/logo_INTrading.png' %}"
        alt="logo INTrading"
        class="image-logo"
      />
      <span class="logo">INTrading</span>
      <div class="button-container">
        <button class="button">Portefeuille</button>
        <button class="button">Bourse</button>
        <button class="button">Investir</button>
      </div>
    </div>
    <div>
      <span class="message_bienvenue"
        >Bienvenue sur INTrading {{user.username}} !</span
      >
    </div>
    <form method="POST" action="{% url 'graphique' %}">
      {% csrf_token %}
      <label for="ticker">Nom de l'action (ticker) :</label>
      <input type="text" id="ticker" name="ticker" required />
      <label for="date_debut">Date de début :</label>
      <input type="date" id="date_debut" name="date_debut" required />
      <label for="date_fin">Date de fin :</label>
      <input type="date" id="date_fin" name="date_fin" required />
      <label for="type_graphique">Type de graphique :</label>
      <select id="type_graphique" name="type_graphique">
        <option value="line">Ligne</option>
        <option value="candlestick">Chandelier</option>
      </select>
      <button type="submit">Afficher le graphique</button>
    </form>
    <span style="float: topright">
      {% if user.is_authenticated %}
      <span><a href="{% url 'logout' %}">Déconnexion</a></span>
      {% else %}
      <span><a href="{% url 'login' %}">login</a></span>
      {% endif %}
    </span>
  </body>
</html>
